@model Project3.Models.TblSeller

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblSeller</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scontact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scontact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
