@model Project3.Models.AvailableLaptop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvailableLaptop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lmodel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lmodel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Sid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Lid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
