@model Project3.Models.TblOrderedLaptop

<h1>Orders</h1>
@{
    ViewData["Title"] = "Order";
    int Oid = ViewBag.id;
    int CustomerId = ViewBag.Cid;
}



<div>
    <h4>TblCustomer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Id
        </dt>
        <dd class="col-sm-10">
            @ViewBag.id
        </dd>
        <dt class="col-sm-2">
            laptop Id
        </dt>
        <dd class="col-sm-10">
            @ViewBag.temp.Lid
        </dd>
        <dt class="col-sm-2">
            Seller Id
        </dt>
        <dd class="col-sm-10">
            @ViewBag.temp.SellerId
        </dd>
        <dt class="col-sm-2">
            Customer Id
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Cid
        </dd>

    </dl>
</div>
<div>
    <a asp-controller="Customers" asp-action="Orders" asp-route-id="@ViewBag.temp.Lid">Confirm</a>
    <a asp-action="Index">Back to List</a>
</div>


<h1> Order Created</h1>

<h1>Create</h1>

<h4>Add new Sale Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Orders">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Oid" class="control-label"></label>
                <input asp-for="Oid" class="form-control" value="@ViewBag.id" />
                <span asp-validation-for="Oid" class="text-danger">@ViewBag.id</span>
            </div>
            <div class="form-group">
                <label asp-for="Lid" class="control-label"></label>
                
                <input asp-for="Lid" class="form-control" value="@ViewBag.temp.Lid" />
                @*<select asp-for="Lid" class="form-control" asp-value="ViewBag.Lid">@ViewBag.temp.Lid</select>*@
            </div>
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <input asp-for="SellerId" class="form-control" value="@ViewBag.temp.SellerId" />
                @*<select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerId">@ViewBag.temp.SellerId</select>*@
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" value=" @ViewBag.Cid" />
                @*<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">@ViewBag.Cid</select>*@
            </div>
            <div class="form-group">
                <a asp-controller="Customers" asp-action="Orders" >Submit</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
